$sizes: (
  'default': 1140px,
  'medium': 760px,
  'small': 520px,
);

@each $key, $value in $sizes {
  .container-#{$key} {
    max-width: $value;
    margin: 0 auto;
  }
}

/*
.container-default {
    max-width: 1140px;
    margin: 0 auto;
}

.container-medium {
    max-width: 760px;
    margin: 0 auto;
}

.container-small {
    max-width: 520px;
    margin: 0 auto;
}


*/
