<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <link rel="stylesheet" href="style.css" />

    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app" class="container">
      <!-- contenitore sx -->
      <div class="left">
        <div class="header-left">
          <div class="header-left-logo">
            <img src="img/avatar_io.jpg" alt="Nome" />
            <h3>Nome</h3>
          </div>
          <div class="header-left-icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <div class="left-disclaimer">
          <div class="left-disclaimer-logo">
            <i class="fa fa-bell-slash" aria-hidden="true"></i>
          </div>
          <div class="left-disclaimer-text">
            <h3>Ricevi notifiche di nuovi messaggi</h3>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <div class="left-searchbar">
          <label class="search-label" for="search">
            <i class="fa fa-search" aria-hidden="true"></i>
          </label>
          <input
            id="contacts-filter"
            class="left-searchbar-input"
            placeholder="Cerca o inizia una nuova chat"
            name="search"
            v-model="searchContact"
            @input="filterContacts"
          />
        </div>
        <div class="contacts">
          <!-- contatto da visualizzare -->
          <div
            class="contact"
            v-for="(contact, index) in contacts"
            :class="{active: index === activeContact}"
            :key="`contact-${index}`"
            @click="changeContact(index)"
            v-show="contact.visible"
          >
            <div class="contact-logo">
              <!-- <img src="img/avatar_1.jpg" alt="Nome" /> -->
              <img :src="contact.avatar" :alt="contact.name" />
            </div>
            <div class="contact-info">
              <h3>
                <span class="contact-name">{{ contact.name }}</span>
                <span class="time f-right">12:00</span>
              </h3>
              <small>Ultimo messaggio</small>
            </div>
          </div>
          <!-- /contatto da visualizzare -->
        </div>
      </div>
      <!-- /contenitore sx -->
      <!-- contenitore dx -->
      <div class="right">
        <div class="header-right">
          <div class="header-right-logo">
            <img
              :src="contacts[activeContact].avatar"
              :alt="contacts[activeContact].name"
            />
            <h3>
              <span id="header-right-contact-name"
                >{{ contacts[activeContact].name }}</span
              >
              <br />
              <small class="time">Ultimo accesso oggi alle 12:00</small>
            </h3>
          </div>
          <div class="header-right-icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <div class="right-messages-container">
          <div class="right-messages">
            <div
              class="message"
              v-for="message in contacts[activeContact].messages"
              :class="message.status"
            >
              <span class="message-text">{{ message.message }}</span>
              <span class="message-time">{{ message.date }}</span>
              <i class="fa fa-chevron-down f-right message-options"></i>
            </div>

            <!-- <div class="message received">
              <span class="message-text">Messaggio</span>
              <span class="message-time"> 12:00 </span>
              <i class="fa fa-chevron-down f-right message-options"></i>
              <div class="message-options-panel z-100">
                <div class="message-info">Info messaggio</div>
                <div class="message-destroy">Cancella messaggio</div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="right-footer">
          <div class="right-footer-icon f-left">
            <i class="far fa-smile"></i>
          </div>
          <input
            class="new-message-inputs"
            placeholder="Scrivi un messaggio"
            v-model="message"
            @keypress.enter="handleNewMessage"
          />
          <div class="right-footer-icon f-right">
            <i class="fa fa-microphone" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <!-- /contenitore dx -->
    </div>

    <!-- vuejs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- main js-->
    <script src="main.js"></script>
  </body>
</html>
